DB_USER=""
DB_PASSWORD=""
DB_NAME=""
DB_PORT=

DATABASE_URL=""
REDIS_URL=""

JWT_ACCESS_SECRET=""
JWT_REFRESH_SECRET=""
JWT_ACCESS_EXPIRES_IN=""
JWT_REFRESH_EXPIRES_IN=""
COOKIE_SECRET=""

MINIO_ROOT_USER=""
MINIO_ROOT_PASSWORD=""
MINIO_ENDPOINT=""
MINIO_PORT=
MINIO_BUCKET_TRACKS=""
MINIO_BUCKET_IMAGES=""
MINIO_USE_SSL=

PORT=
NODE_ENV=""
